{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
              "Chrome >= 60",
              "Firefox >= 54",
              "Safari >= 11",
          ]
        },
        "useBuiltIns": true
      }
    ],
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-class-properties",
    "transform-object-rest-spread"
  ]
}