/* #region: Base Styles */
body {
  margin: 0;
  font-family: Avenir, sans-serif;
  color: #222;
  background-color: #fafafa;
}

header {
  text-align: center;
  color: #af1b1b;
}

main {
  max-width: 960px;
  margin: auto;
  padding: 1rem 2rem;
}

pre {
  font-size: 14px;
  font-family: Input-Mono, Inconsolata, monaco, monospace;
}

section.component {
  padding: 2rem 0;
  border-bottom: solid 2px lightgrey;
  margin-bottom: 5rem;
}
section.component > h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #af1b1b;
}
section.component .container {
  padding: 0 1.5rem;
}

/* #endregion: Base Styles */
/* #region: Accordion */
vm-accordion {
  background: whitesmoke;
  margin-bottom: 0.5rem;
}

/* #endregion: Accordion */